form {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

form label {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.55px;
  color: var(--darkText);
}

form input {
  margin-top: 8px;
  width: 513px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.73px;
  color: var(--darkText);
  outline: none;
  border: 0.8px solid var(--darkText);
  background: transparent;
  padding: 11px 20px 9px 20px;
}

form hr {
  width: 237px;
  border: 0.8px solid var(--dark);
  margin-top: 64px;
}

.info-img {
  margin-left: 138px;
  margin-top: -50px;
}

.warning {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.31px;
  margin-top: 20px;
  color: var(--warning);
}

.next-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.error-box {
  width: fit-content;
  height: 20px;
  margin-bottom: 27px;
}

.error {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.31px;
  color: var(--error);
}
