.info-img {
  margin-top: 40px;
}

form {
  width: 50%;
  height: 800px;
  overflow: auto;
  padding-right: 10%;
  padding-bottom: 198px;
}

.form-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-top: 43px;
}

.content {
  justify-content: space-between;
}

.meeting {
  margin-top: 43px;
}

form label {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.55px;
  color: var(--darkText);
}
form hr {
  width: 237px;
  border: 0.8px solid var(--dark);
  margin-top: 64px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 19px;
}

.first-input {
  margin-top: 17px;
}

.radio {
  margin-top: 8px;
  width: 23px;
  height: 23px;
}

textarea {
  border: 0.8px solid #232323;
  background: transparent;
  width: 100%;
  height: 184px;
  margin-top: 20px;
  resize: none;
  padding: 10px;
}

.buttons {
  margin: auto;
  margin-top: -56px;
  display: flex;
}

.next-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.submit {
  padding: 17px 29px;
  background-color: var(--green);
  border-radius: 42px;
  border: none;
  color: white;
  margin-top: 70px;
  margin-left: auto;
}
